html, body
	margin: 0
	padding: 0

// @todo: счетчик карточек 1/28
// @todo: thumb up/down для valid/invalid примеров
// @todo: кнопки выбора возможных значений
// @todo: название .jscs.json для конфига
// @todo: кнопка копирования в буфер
// @todo: стрелки влево-вправо для пролистывания
// @todo: фон для карточки и шрифт для конфига
// @todo: анимация пролистывания карточки
// @todo: кнопки соц. сетей

$width = 800px

@import 'styl/*'