// @todo: кнопки выбора возможных значений
// @todo: кнопка копирования в буфер
// @todo: стрелки влево-вправо для пролистывания
// @todo: фон для карточки и шрифт для конфига
// @todo: анимация пролистывания карточки
// @todo: кнопки соц. сетей
// @todo: возможно саму карточку имеет смысл сделать «карточкой», как в http://visionmedia.github.io/nib/
// @todo: блок с информацией что такое jscs

@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400,300&subset=latin,cyrillic-ext')

$mobile-width = 480px
$card-width = 1000px

@import 'nib'
@import 'styl/card'
@import 'styl/*'

html, body
	margin: 0
	padding: 0
	background: #EEE

.container
	max-width: $card-width