.card
	margin: 75px auto 25px
	background: #EEE
	text-align: center
	box-sizing: border-box
	border-radius: 10px

	&__button
		position: relative

		&_type_skip
			margin: 0 5px 0 0
			padding: 6px 30px

			@media screen and (max-width: $mobile-width)
				padding: 6px 15px

		&_type_add
			margin: 0 0 0 5px
			padding: 8px 50px
			font-size: 16px
			font-weight: bold

			@media screen and (max-width: $mobile-width)
				padding: 8px 25px

		&:hover &__shortcut
			opacity: .5
