.card
	position: relative
	background: #EEE
	text-align: center
	box-sizing: border-box
	border-radius: 10px

	&__title
		font: 300 12px/1.4 'Roboto Condensed', sans-serif

	&__button
		position: relative

		&_type_skip
			margin: 0 5px 0 0
			padding: 6px 30px
			font: 300 14px/1.4 'Roboto Condensed', sans-serif

			@media screen and (max-width: $mobile-width)
				padding: 6px 15px

		&_type_add
			margin: 0 0 0 5px
			padding: 8px 50px
			//font-size: 16px
			//font-weight: bold
			font: 300 22px/1.4 'Roboto Condensed', sans-serif

			@media screen and (max-width: $mobile-width)
				padding: 8px 25px

		&:hover &__shortcut
			opacity: .5
