.example
	display: flex
	flex-wrap: nowrap
	justify-content: space-between
	align-items: stretch

	@media screen and (max-width: $mobile-width)
		display: block

	&__item
		position: relative
		width: 48%
		text-align: left

		@media screen and (max-width: $mobile-width)
			width: 100%

		&_valid
			background: #EEFFEE

		&_invalid
			background: #FFEEEE

	&__code
		margin: 0
		padding: 0
		background: none
		border: 0

	&__label
		position: absolute
		top: 0
		right: 5px

		&_valid
			color: #009900

		&_invalid
			color: #990000