.values
	&__title
		margin: 0
		padding: 0
		font: 300 22px/1.4 'Roboto Condensed', sans-serif
	
	&__list
		margin: 10px 0 0
		padding: 0
		list-style: none
	
	&__controls
		font-size: 14px
	
	&__control
		text-decoration: underline
		cursor: pointer